/* Nav */


/*  Picking names  */
.area{
    margin-top: 80px;
    /*padding-top: 50px;*/
}

.img_play{
    margin-top: 30px;
    /*position: relative;*/
    /*display: block;*/
    /*float: middle;*/
    /*border: 1px solid red;*/
}

/*  Game area  */
.game_area{
    margin-top: 30px;
    margin-bottom: 30px;
    /*border: 10px solid red;*/
}

/* Game CELLS*/
.cell{
    padding: 14% 14%;
}
#c11{
    border-bottom: 5px solid;
    border-right: 5px solid;
}
#c12{
    border-bottom: 5px solid;
    border-right: 5px solid;
    border-left: 5px solid;
}
#c13{
    border-bottom: 5px solid;
    border-left: 5px solid;
}
#c21{
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-right: 5px solid;
}
#c22{
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-right: 5px solid;
    border-left: 5px solid;
}
#c23{
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-left: 5px solid;
}
#c31{
    border-top: 5px solid;
    border-right: 5px solid;
}
#c32{
    border-top: 5px solid;
    border-right: 5px solid;
    border-left: 5px solid;
}
#c33{
    border-top: 5px solid;
    border-left: 5px solid;
}

#endGame{
    font-family: "Times New Roman", Times, serif;
    font-size: 2em;
    font-weight: bold;
    display: block;
    padding-top: 25px;
    /*color: blue;*/
}

/* -------------  TYPOGRAPHY ----------- */
h1{
    color: white;    
}